imageName: ghcr.io/cloudnative-pg/postgresql:17.5
instances: 2

initdb:
  database: app
  owner: app
  secret:
    name: cluster-example-app-user

enableSuperuserAccess: false
superuserSecret:
  name: "superuser-secret"

storageClass: local-path
storage:
  size: 5gi

backup:
  enabled: true
  destinationPath: s3://
  endpointURL: http://minio.minio.svc.cluster.local:9000
  secret:
    name: "backup-credentials"
  schedule: "0 0 0 * * *" # daily at midnight
  retentionPolicy: "30d"

affinity:
  enablePodAntiAffinity: true
  topologyKey: kubernetes.io/hostname

monitoring:
  enablePodMonitor: true
